body {
		text-align: center;
		background: url(http://static1.squarespace.com/static/55c3f0f5e4b005b7fa5d10af/t/55cbcc67e4b0513a93e20b71/1439419495183/far_sunset_in_te_ocean_horizon-wide.jpg);
		background-size: cover;
		background-position: center;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-family: helvetica;
		}
h1	{
		font-size: 70px;
		color: yellow;
		}
h2	{	
		color: black;
		font-family: arial;
		}
img {
		margin: 0px 40px 0px 0px;
		}
p1   {
		font-size: 22px;
		color: black;
		font-family: arial;
		}
p2	{
		color: yellow;
}
a {
		color: white;
		}
ul  {
		padding: 10px;
		background: rgba(0, 0, 0, 0.5);
		}
li  {
		display: inline;
		padding: 0px 10px 0px 10px;
		}
input {
		border: 0;
		padding: 10px;
		font-size: 18px;
		}
article	{
		max-width: 500px;
		padding: 20px;
		margin: 0 auto;
		}
@media (max-width: 500px) {
			h1	{
			font-size: 36px;
			}
			li  {
			display: block;
			padding: 5px;
			}
		}
